

<div class="quote">
    <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/b/b9/Steve_Jobs_Headshot_2010-CROP.jpg/245px-Steve_Jobs_Headshot_2010-CROP.jpg">
    <blockquote>Put a dent in the universe.</blockquote>
    <cite>Steve Jobs</cite>
</div>